/* Box sizing border-box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Default styles to make each box visible */
.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* color for each box */
.box1 {
  background-color: aliceblue;
}

.box2 {
  background-color: aqua;
}

.box3 {
  background-color: black;
}

.box4 {
  background-color: blue;
}

.box5 {
  background-color: blueviolet;
}

.box6 {
  background-color: brown;
}

.box7 {
  background-color: chartreuse;
}

.box8 {
  background-color: chocolate;
}

.box9 {
  background-color: darkgreen;
}

.box10 {
  background-color: hotpink;
}

.container {
  display:flex;
  border: 10px solid goldenrod;
  flex-direction: column;
}